body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #fff;
  color: #222;
  height: 100%;
  overflow: hidden;
  background-image: url("/public/museum3.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.form-card {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

label {
  font-size: 1rem;
  font-weight: 500;
  color: #444;
  margin-bottom: 8px;
  display: block;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  color: #444;
  background-color: #fafafa;
  transition: border 0.3s ease;
}

input:focus {
  border-color: #f88f9c;
  outline: none;
}

button.primary-button {
  background-color: #d45b77;
  color: white;
  padding: 14px 28px;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
}

button.primary-button:hover {
  background-color: #f88f9c;
}

.login-link {
  text-align: center;
  margin-top: 20px;
}

.login-link a {
  color: #d45b77;
  text-decoration: underline;
}

.login-link a:hover {
  color: #f88f9c;
}
